$max:16;

@for $i from 0 through $max {
 .ml-#{$i}{
    margin-left:($max - $i) * 4px;
 }
 .mb-#{$i}{
    margin-bottom:($max - $i) * 4px;
 }
 .pt-#{$i}{
   padding-top: ($max - $i) * 4px;
 }
}

.flex{
   display: flex;
}

.column{
   flex-direction:column;
}

.justify-between{
   justify-content: space-between;
}

.flex-nowrap{
   flex-wrap: nowrap;
}

