$max:16;

@for $i from 0 through $max {
 .ml-#{$i}{
    margin-left:($max - $i) * 4px;
 }
 .mb-#{$i}{
    margin-bottom:($max - $i) * 4px;
 }
 .pt-#{$i}{
   padding-top: ($max - $i) * 4px;
 }
}

@for $i from 1 to 12{
   .col-#{$i}{
      width:calc(100% * $i /12);
   }
   @include pad{
   .col-md-#{$i}{
      width:calc(100% * $i /12);
   }
   }
  
}

@include mobile{
   .col-sm-12{
      width:100%;
  }
}
.flex{
   display: flex;
}

.column{
   flex-direction:column;
}

.justify-between{
   justify-content: space-between;
}

.flex-wrap{
   flex-wrap: wrap;
}

.justify-center{
justify-content: center;

}

.align-center{
   align-items:center;
}
.px-3{
   padding-left: 12px;
   padding-right: 12px;
}
