//color
$primary-light:#FBF2F2;
$primary-color:#AA0601;
$primary-dark:#000000;

//font size
$font-size-base:1rem;
$font-size-sm:$font-size-base*0.875;

$font-size-h1:$font-size-base*4;
$font-size-h2:$font-size-base*3;
$font-size-h3:$font-size-base*1.75;
$font-size-h4:$font-size-base*1.5;
$font-size-h5:$font-size-base*1.25;
$font-size-h6:$font-size-base;

//margin bottom


