

<footer>
   <div class="container flex justify-between">
    <div class="footer-top flex column">
        <ul class="footer-pages flex mb-7">
            <li><a href="index.html">首頁</a></li>
            <li class="ml-4"><a href="#">系列鏡框</a></li>
            <li class="ml-4"><a href="#">門市據點</a></li>
            <li class="ml-4"><a href="#">部落格</a></li>
            <li class="ml-4"><a href="#">常見問題</a></li>
        </ul>
        <ul class= "contact-info ">
            <li class="phone flex">
               <img src="../assets/images/call_36dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.png" alt="">
               <a href="tel:+886-2-0800000000" class="ml-11" >0800-000-000</a>
           </li>
           <li class="email flex">
            <img src="../assets/images/mail_36dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.png" alt="">
            <a href="mailto:glasses@business.com" class="ml-11">glasses@business.com</a>
           </li>
        </ul>
    </div>
    <div class="footer-bottom">
    <ul class="social-icons flex">
        <li><img src="../assets/images/ic-social-fb.png" alt=""></li>
        <li><img src="../assets/images/ic_social_ig.png" alt=""></li>
        <li><img src="../assets/images/ic_social_line.png" alt=""></li>
    </ul>
    </div>
</div>
</footer>