footer{
  background-color: $primary-color;
  font-size:$font-size-base;
  color:#fff;
 a{
  text-decoration:none;
  color:#fff;
 }
}

.contact-info{
  font-size:36px;
  padding-bottom: 32px;
  a{
    display: block;
  }
  img{
    width:48px;
    margin-right: 20px;
    @include pad{
      width:36px;
    }
    @include mobile{
      width:24px;
    }
  }
  @include mobile{
    padding-top: 24px;
    font-size:16px;
  }
}
.page-list{
  padding-top: 60px;
  padding-bottom: 36px;
  a{
    padding-right:48px ;
  }
  @include mobile{
    display:none;
  }
}
.social-icon {
  padding-top:48px;
  a{
    padding-left:32px;
    @include pad{
      padding-left: 16px;
    }
    @include mobile{
      padding-left: 8px;
    }
  }
  img{
  width:48px;
  @include pad{
    width:40px;
  }
  @include mobile{
    width:24px;
  }
  }
  @include mobile{
    padding-top: 24px;
  }
}

.footer-bottom{
  border-top:1px solid #fff;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  a{
    padding-left: 48px;
    font-size:$font-size-sm;
    @include mobile{
      padding-left: 0;
    }
  }
  @include mobile{
    flex-direction:column;

  }
  .footer-bottom-link{
    @include mobile{
      display: flex;
    flex-direction:column;
      
    }
  }
}