
.navbar{
  background: $primary-color;
  font-size: $font-size-h5;
  line-height: 1.5;
  
}
.navbar{
  background-color: $primary-color;
  
}

.navbar-wrap{
  display: flex;
  justify-content: space-between;
  @include mobile{
    flex-direction:column;
    max-width:100%;
    padding-right:0;
    padding-left:0;
  }
 
}
.navbar-nav{
  display: flex;
  align-items:center;
  
  .navbar-item{
    padding-left: 64px;
 
    a{
      text-decoration:none;
      color:$primary-light;
      
    }
    @include mobile{
      width:50%;
      border: 1px solid #FFFFFF;
      text-align:center;
      
    }
  }
  @include mobile{
    flex-wrap:wrap;
  }
 
}
.navbar-logo img{
  width:80px;
  padding-top: 16px;
  padding-bottom: 16px;
  @include mobile{
   padding-left: 15px;
  }
}


