<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>

  </head>
  <body>
    <%- include('./layout/header'); -%>
  <div class="container">
    <ul class="category flex">
      <li><a href="#">OPTICAl</a></li>
      <li><a href="#">SUNGLASSES</a></li>
      <li><a href="#">FUNCTIONAL</a></li>
    </ul>
  </div>
  <div class="img-area flex">
    <img src="../assets/images/product-header-1.png" alt="glasses">
    <img src="../assets/images/product-header-2.png" alt="glasses">
  </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
